<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzh.rfidbike_sustain"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/><!--获取apk大小-->

    <!-- 百度推送使用权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--baidu push permission start-->
    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.yzh.rfidbike_sustain" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.yzh.rfidbike_sustain"
        android:protectionLevel="normal">
    </permission>
    <!--baidu push permission end-->

    <application
        android:name="com.foxconn.rfid.theowner.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.foxconn.rfid.theowner.activity.ReadCardMessageActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.BaseStationMapActivity" android:screenOrientation="portrait"/>
        <!--地图显示-->
        <activity android:name="com.foxconn.rfid.theowner.activity.LoadingActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--读卡信息-->
        <activity android:name="com.foxconn.rfid.theowner.activity.ParameterConfigurationActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.MapChoiceAddrActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"> <!--选择基站地址-->

        </activity>
        <!--参数配置-->
        <activity android:name="com.foxconn.rfid.theowner.activity.DeviceSetupActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait">

        </activity>
        <!--安装基站-->


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bpFZC1dcc7Dvh6p652nPG0ZgDdlfddbm"/>
        <!--运维百度地图key-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name="com.foxconn.rfid.theowner.activity.DeviceListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.SubCompanyListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.SearchDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.PersonalInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.UpdatePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.SelectCompanyActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.SelectSubCompanyListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.foxconn.rfid.theowner.activity.MessageCenterSecondActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            /><!--消息-->
        <activity android:name="com.foxconn.rfid.theowner.activity.AbnormalBSActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            /><!--异常基站-->
        <activity android:name="com.foxconn.rfid.theowner.activity.AbnormalDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            /><!--异常基站详细信息-->


        <!-- baidu push  start-->

        <!-- 此处Receiver名字修改为当前包名路径 -->
        <receiver android:name="com.foxconn.rfid.theowner.push.MyPushMessageReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果-->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求-->
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.baidu.android.pushservice.PushService" android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter >
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.yzh.rfidbike_sustain.bdpush"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.yzh.rfidbike_sustain"
            android:protectionLevel = "signature"
            android:exported="true" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="LOoq4sv5CMLM60dWk3NyHHhF" />
        <!-- baidu push  end-->

    </application>

</manifest>